h1 {
  font-family: 'Montserrat, arial';  
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
}

.nav-link, .navbar-brand{
  color: White;
  text-decoration: none; /* no underline */
}
